@import "../../_globalColor";

.software-skill-inline {
  display: inline-block;
  margin-right: 60px;
  margin-bottom: 20px;
}

.software-skill-inline > i {
  color: $subTitle;
  font-size: 40px;
}
.software-skill-inline > img {
  width: 50px;
}

.software-skill-inline > i:hover {
  color: $skillsColor;
}

.software-skill-inline > img:hover {
  color: $skillsColor;
}
.software-skill-inline > p {
  color: $subTitle;
  font-size: 15px;
}
.skills-container {
  display: flex;
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}
.skills-container > * {
  flex: 1;
  margin-bottom: 30px;
}
.skills-image > img {
  margin-left: 80px;
  max-width: 90%;
  height: auto;
}

@media (max-width: 768px) {
  .skills-container {
    flex-direction: column;
  }
  .skills-bar {
    line-height: 3rem;
    margin: 20px;
  }
  .skills-image {
    display: none;
    order: 2;
  }
  
.software-skill-inline {
 margin-right: auto;
 margin-left: 20px;
 text-align: center;
}
.software-skill-inline > img {
  width: 35px;
}
}
